/pkg
/pkg/*
log.html
output.xml
report.html
log-*.html
output-*.xml
report-*.html
summary.html
summary-*.html
.bundle
/doc
/doc/*
/.yardoc
/.yardoc/*
*.rbc
Gemfile.lock
*screenshot.png
/nbproject
/nbproject/*
